.button {
  width: 180px;
  display: block;
  margin: 25px auto 0;
  padding: 8px 0;
  border: 2px solid $main-color;
  border-radius: 3px;
  background: $main-color;
  color: #fff;
  text-align: center;
  font: 700 20px/20px "Open Sans";
  text-transform: uppercase;
  &:hover {
    background: white;
    text-decoration: none;
    color: #000;
  }
}

@media screen and ($medium) {
  .button {
    width: 180px;
    margin: 25px auto 0;
    padding: 8px 0;
    font: 700 20px/20px "Open Sans";
  }
}