.button {
  width: 180px;
  display: block;
  margin: 25px auto 0;
  padding: 8px 0;
  border: 2px solid #fff;
  border-radius: 50px;
  background: #17daa3;
  color: #fff;
  text-align: center;
  &:hover {
    background: #00b3ee;
    text-decoration: none;
    color: #fff;
  }
}

@media screen and (min-width: 767px) {
  .carousel-caption a {
    border: 2px solid white;
    border-radius: 20px;
    padding: 1% 2%;
    color: white;
    font-size: 18px;
    &:hover {
      border-color: #2dddac;
      -webkit-box-shadow: 0px 0px 4px #2dddac;
      -moz-box-shadow: 0px 0px 4px #2dddac;
      box-shadow: 0px 0px 4px #2dddac;
      text-decoration: none;
    }
  }
}