a.button {
  width: 120px;
  display: block;
  padding: 5px 0;
  border: 2px solid $main-color;
  border-radius: 3px;
  background: transparent;
  color: $main-color;
  text-align: center;
  font: 400 13px/13px "Raleway";
  text-transform: uppercase;
  &:hover {
    background-color: $main-color;
    text-decoration: none;
    color: white;
  }
}

@media screen and ($xs) {
  a.button {
    width: 130px;
    padding: 8px 0;
    font: 400 13px/13px "Raleway";
  }
}
@media screen and ($sm) {
  a.button {
    width: 140px;
    padding: 10px 0;
    font: 700 13px/13px "Raleway";
  }
}

@media screen and ($md) {
  a.button {
    width: 150px;
    padding: 15px 0;
    font: 700 13px/13px "Raleway";
  }
}

@media screen and ($lg) {
  a.button {
    width: 150px;
    padding: 15px 0;
    font: 700 13px/13px "Raleway";
  }
}