.about {
  background-color: $bg-main-color;
}
.section_content {
  .popup img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
  }
}
.white-popup, .podrt_descr {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 100px auto;
  img {
    width: 100%;
  }
}
.personal_last_block {
  .social_wrap {
    float: none;
    li {
      font-size: 20px;
      padding: 0 3px;
    }
  }
}
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}
