.resume  {
  background-color: $bg-sec-color;
}
.resume_icon {
  font-size: 40px;
  margin-bottom: 35px;
}
.year {
  display: inline-block;
  margin-bottom: 15px;
  padding: 0 10px;
}
.resume_container {
  &>div:first-child {
    text-align: right;
  }
  &>div:last-child {
    text-align: left;
  }
}
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}