$xs: "min-width: 568px";
$sm: "min-width: 768px";
$md: "min-width: 992px";
$lg: "min-width: 1200px";
$wrapper: "1170px";
$main-color: #ff5959;
$sec-color: #e8e8e8;
$main-text-color: #000;
$sec-text-color: #fff;
$main-font: "Raleway";
$sec-font: "Quicksand";
