body {
  color: $main-text-color;
  font: 300 13px/24px $main-font;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}


@media screen and ($xs) {
  body {
    line-height: 22px;
  }
}
@media screen and ($sm) {
  body {
    line-height: 21px;
  }
}
@media screen and ($md) {
  body {
    line-height: 20px;
  }
}

@media screen and ($lg) {
  body {
    line-height: 20px;
  }
}
