.button {
  display: block;
  width: 80px;
  position: relative;
  padding: 5px;
  color: #009aff;
  border: 1px solid #009aff;
  border-right: none;
  text-align: center;
  font: 400 12px/18px $main-font;
  &:hover {
    background-color: $brand-color;
    color: $main-text-color;
    text-decoration: none;
  }

}


@media screen and ($xs) {
  .button {
  }
}
@media screen and ($sm) {
  .button {
  }
}

@media screen and ($md) {
  .button {
  }
}

@media screen and ($lg) {
  .button {
  }
}