.blog {
  background-color: #ececec;
}
.blog-list {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;
  li {
    flex-basis: 95%;
    background-color: #fff;
    margin: 15px;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
      flex-basis: 25%;
    }
    p {
      padding: 15px;
      color: #696969;
      line-height: 30px;
    }
    h4 {
      color: #000;
      padding: 25px 15px 0 15px;
      margin: 0;
      font: 700 18px/30px $main-font;
    }
    .blog-item-footer {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-top: 1px solid #d9d9d9;
      line-height: 20px;
      font-weight: 700;
      i {
        font-size: 18px;
      }
    }
    img {
      width: 100%;
    }
  }
}


@media screen and ($xs) {
  .blog-list li {
    flex-basis: 40%;
    &:hover {
      flex-basis: 45%;
    }
  }
}

@media screen and ($sm) {
  .blog-list li {
    flex-basis: 28%;
    &:hover {
      flex-basis: 30%;
    }
  }
}

@media screen and ($md) {
  .blog-list li {
    flex-basis: 21%;
    &:hover {
      flex-basis: 23%;
    }
  }
}

@media screen and ($lg) {
  .blog {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -149px;
      left: 0px;
      width: 1170px;
      height: 0;
      border-left: 600px solid transparent;
      border-right: 600px solid transparent;
      border-top: 150px solid #ececec;
    }
  }
}