.about {
  background-color: #ececec;
  width: 100%;
  height: 100%;
  .container {
    padding-bottom: 30px;
  }
  li {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    p {
      font-size: 14px;
    }
  }
}


@media screen and ($xs) {

}

@media screen and ($sm) {
  .about {
    .container {
      padding: 30px 15px 100px 15px;
    }
  }
}

@media screen and ($md) {
  .about {
    li {
      &:nth-child(1) {
        &::after {
          display: block;
          background: url(../img/polygon-1.png) center no-repeat;
          content: '\e904';
          font: 300 52px/160px 'icomoon';
          text-align: center;
          color: #fff;
        }
      }
      &:nth-child(2) {
        &::before {
          display: block;
          background: url(../img/polygon-1.png) center no-repeat;
          content: '\e900';
          font: 300 52px/160px 'icomoon';
          text-align: center;
          color: #fff;
        }
      }
      &:nth-child(3) {
        &::after {
          display: block;
          background: url(../img/polygon-1.png) center no-repeat;
          content: '\e907';
          font: 300 52px/160px 'icomoon';
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}

@media screen and ($lg) {
  .about {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -100px;
      left: 0;
      width: 100%;
      height: 0;
      border-left: 600px solid transparent;
      border-right: 600px solid transparent;
      border-top: 100px solid #ececec;
    }
  }
}
