body {
  color: $main-text-color;
  font: 300 13px/20px $main-font;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
}
p {
  font: 400 14px/22px $sec-font;
}
.section-caption {
  text-align: center;
  max-width: 100%;
  padding: 100px 0 30px 0;
  &::after {
    content: ' ';
    display: block;
    margin: 10px auto;
    background-color: $main-text-color;
    width: 50px;
    height: 5px;
  }
  h2 {
    margin: auto;
    font: 700 36px/36px $main-font;
  }
  span {
    font: 300 20px/30px $main-font;

  }
}

@media screen and ($xs) {
  body {
    line-height: 22px;
  }
}
@media screen and ($sm) {
  body {
    line-height: 21px;
  }
}
@media screen and ($md) {
  body {
    line-height: 20px;
  }
}

@media screen and ($lg) {
  body {
    line-height: 20px;
  }
}
