$xs: "min-width: 568px";
$sm: "min-width: 768px";
$md: "min-width: 992px";
$lg: "min-width: 1200px";
$wrapper: 1170px;
$main-color: #fff;
$sec-color: #ececec;
$brand-color: #fc0;
$main-text-color: dimgrey;
$sec-text-color: #fff;
$main-font: "Open Sans";
$sec-font: "Raleway";


//icons---------------------------------------


//-----------------------------------------------