//header
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 0;
  @include transition(0.4s);
  text-shadow: 0px 0px 3px #000;
  nav {
    padding-right: 1%;
  }
  h1.logo {
    margin: 0 auto;
    float: left;
    width: 40%;
    padding: 20px 0 0 10%;
    color: $main-color;
    font: 400 20px/20px "Open Sans";
    span {
      color: white;
      text-shadow: 0px 0px 3px #fff;
    }
  }
}

@media screen and ($small) {

  header {
    padding: 1% 0;
    nav {
      padding-right: 1%;
    }
    h1.logo {
      margin: 0 auto;
      width: 40%;
      padding: 20px 0 0 10%;
      font: 400 24px/28px "Open Sans";
    }
  }
}
@media screen and ($medium) {

  header {
    padding: 1% 0;
    nav {
      padding-right: 1%;
    }
    h1.logo {
      margin: 2% auto 0 auto;
      width: 30%;
      padding: 20px 0 0 10%;
      font: 700 26px/30px "Open Sans";
    }
  }
}

@media screen and ($large) {
  header {
    padding: 0;
    max-width: 1170px;
    margin: auto;
    nav {
      padding-right: 20px;
    }
    h1.logo {
      margin: 0 auto;
      width: 30%;
      padding: 30px 0 0 10%;
      font: 700 30px/30px "Open Sans";
    }
  }
}