.navbar {
  background: none;
  border: none;
  .container {
  }
  .navbar-btn {
    background: none;
    font-size: 28px;
    margin: 0;
    border: none;
    outline: none;
  }
}
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:focus {
  background: none;
  border: none;
  outline: none;
  color: #337ab7;
}
.panel {
  background-color: rgba(24, 0, 0, 0.9);
  height: 89vh;
  margin: 1px;
  border-radius: 0 0 20px 20px;
}
.nav-pills > li.active > a{
  color: #787878;
  text-transform: uppercase;
  font-size: 32px;
  background: none;
}
.nav > li > a {
  font: 700 32px/44px 'Open Sans';
  text-transform: uppercase;
  color: #787878;
  text-align: center;

  &:hover, .nav > li > a:focus, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus  {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
  }
}

@media screen and ($xs) {

}
@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}