body {
  color: $main-text-color;
  font: 400 14px/18px $main-font;
}
a {
  color: $main-text-color;
  &:hover, :active {
    text-decoration: none;
  }
}
ul {
  list-style: none;
  padding: 0;
}
section, .main_head {
  position: relative;
}
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
  }
}




@media screen and ($xs) {
  .section-caption {

  }
}

@media screen and ($sm) {
  .section-caption {

  }
}

@media screen and ($md) {
  .section-caption {

  }
}

@media screen and ($lg) {
  .section-caption {

  }
}
