body {
  color: $text-main-color;
  font: 400 14px/18px $font-main;
  text-align: center;
}
a {
  color: $text-main-color;
  &:hover, :active {
    text-decoration: none;
  }
}
ul {
  list-style: none;
  padding: 0;
}
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
  }
}
section {
  padding: 50px 0;
  img {
    max-width: 100%;
    //trouble with parallax
  }
}

.section_caption {
  position: static;
  padding: 50px 0;
  text-transform: uppercase;
  font-weight: 700;
  animation-delay: 0.1s;
  p {
    padding: 0 0 20px  0;
    font-weight: 700;
  }
  &:after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background-color: $text-main-color;
    margin: auto;
  }
}

@media screen and ($xs) {
  .section_caption {

  }
}

@media screen and ($sm) {
  .section_caption {

  }
}

@media screen and ($md) {
  .section_caption {

  }
}

@media screen and ($lg) {
  .section_caption {

  }
}

