.site-header {
  .wrapper {
    max-width: 1170px;
    margin: auto;
  }
}
.connect_message, .authorization {
  text-align: right;
}
.author {
  text-align: center;
  color: red;
}
.logo {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  .textwidget {
    font-family: $sec-font;
    font-size: 30px;
    text-transform: uppercase;
    span:first-child {
      color: $brand-color;
      font-weight: 300;
    }
    span:last-child {
      color: grey;
      font-weight: 700;
    }
  }
}

.top_search {
  text-align: center;
  padding: 10px 0;
  input {
    height: 30px;
  }
  .fa-search {
    position: relative;
    right: -50px;
    font-size: 18px;
    color: rgba(224, 224, 222, 0.17);
  }
  .wpcf7-form {
    width: 265px;
    height: 40px;
    margin: auto;
    padding: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(121, 120, 118, 0.71);
    background-color: #2c2c2b;
  }
  
  .wpcf7-submit {
    position: relative;
    left: 20px;
    z-index: 2;
    width: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    border-left: 1px solid rgba(224, 224, 222, 0.17);
    color: #2c2c2b;
  }
  .wpcf7-text {
    background-color: #2c2c2b;
    border: none;
  }
}

@media screen and ($xs) {
  .logo {
    float: left;
    overflow: hidden;
  }
  .top_search {
    float: right;
    overflow: hidden;
    padding: 20px 0;
    input {
      height: 40px;
    }
  }
}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}
