.hero {
  padding: 110px 1% 50px 1%;
  height: 100vh;
  background: linear-gradient(rgba(34, 34, 34, 0.95), rgba(34, 34, 34, 0.95)), url(../../img/shutterstock-51034543.png) center 0%/255% no-repeat;
  .row div {
    margin: auto;
    padding: 15px;
    h3 {
      font: 400 24px/32px 'Quicksand';
    }
    div {
      font: 400 13px/18px 'Quicksand';
    }
    a {
      display: inline-block;
      &:hover {
        color: #fff;
        background-color: $main-color;
      }
    }
  }
}

//________________________________________________________________________________
@media screen and ($xs) {
  .hero {
    padding: 150px 1% 100px 1%;
  }
}

@media screen and ($sm) {
  .hero {
    padding: 250px 1% 150px 1%;
  }
}

@media screen and ($md) {
  .hero {
    padding: 350px 1% 250px 1%;
  }
}

@media screen and ($lg) {
  .hero {
    padding: 350px 1% 250px 1%;
  }
}

