.featured-work {
  padding-top: 50px;
  color: $main-text-color;
  background: $sec-color;
  /* ---- button ---- */
  .button-group {
    text-align: center;
    .button {
      width: 140px;
      height: 40px;
      margin: 25px 10px;
      border: 2px solid $main-color;
      background-color: transparent;
      color: $main-text-color;
      font: 600 14px/20px "Open Sans";
      cursor: pointer;
      &:hover {
        background-color: #8CF;
      }
      &:active {
        background-color: #28F;
      }
      &.is-checked {
        background-color: #28F;
      }
    }
  }
  .isotope {
    text-align: center;
  }
  /* clear fix */
  .isotope:after {
    content: '';
    display: block;
    clear: both;
  }
  /* ---- .item ---- */
  .isotope-item {
    display: inline-block;
    padding: 0;
    width: 90%;
    div {
      display: none;
    }
    &:hover {
      img {
        opacity: 0.25;
      }
      div {
        display: flex;
        position: absolute;
        width: 85%;
        height: 80%;
        top: 10%;
        left: 8%;
        right: 0;
        border: 1px solid $main-text-color;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        font: 700 14px/20px 'Montserrat';
        span {
          display: block;
          font: 400 10px/20px "Open Sans";
          text-transform: uppercase;
        }
      }
    }
  }
}

//________________________________________________________________________________
@media screen and ($xs) {
  .featured-work {
    padding-top: 60px;
    .isotope-item {
      width: 47%;
    }
  }
}

@media screen and ($sm) {
  .featured-work {
    padding-top: 70px;
    .isotope-item {
      width: 32%;
    }
  }
}

@media screen and ($md) {
  .featured-work {
    padding-top: 80px;
    .isotope-item {
      width: 24%;
    }
  }
}

@media screen and ($lg) {
  .featured-work {
    padding-top: 100px;
    .isotope-item {
      width: 24%;
    }
  }
}

