.clients {
  padding: 50px 0;
  color: $sec-text-color;
  background-color: #f4f4f4;
}
.clients-list {
  padding-top: 30px;
  text-align: center;
  li {
    margin: auto;
    height: 100px;
  }
}
.contacts {
  background-color: $main-color;
  padding: 50px 0;
}


//________________________________________________________________________________
@media screen and ($xs) {
  .clients, .contacts {
    padding: 60px 0;
  }
}

@media screen and ($sm) {
  .clients, .contacts {
    padding: 70px 0;
  }
}

@media screen and ($md) {
  .clients, .contacts {
    padding: 80px 0;
  }
}

@media screen and ($lg) {
  .clients, .contacts {
    padding: 100px 0;
  }
}

