.services {
  padding: 50px 0;
  color: $main-text-color;
  background: $main-color;
  .fa-stack {
    font-size: 21px;
    i:nth-child(2) {
      color: $sec-text-color;
    }
    img {
      left: 9px;
      top: 9px;
      max-width: 24px;
    }
  }
  .container {
    margin-top: 30px;
  }
}

//________________________________________________________________________________
@media screen and ($xs) {
  .services {
    padding: 60px 0;
  }
}

@media screen and ($sm) {
  .services {
    padding: 70px 0;
  }
}

@media screen and ($md) {
  .services {
    padding: 80px 0;
  }
}

@media screen and ($lg) {
  .services {
    padding: 100px 0;
  }
}

