body {
    background-color: #bdb586;
}

.container {
    position: relative;
    margin: 20px auto;
    max-width: 465px;
    font-family: "Arial";
    box-sizing: border-box;
}

.row {
    box-sizing: border-box;
    text-align: center;
}

.row div.screen {
    font: 100 82px/155px "Calibri Light";
    display: table;
    width: 462px;
    max-width: 462px;
    background: linear-gradient(to bottom right,  #50262b, #7a453a, #703229);
    text-align: right;
    vertical-align: bottom;
    box-sizing: border-box;
    padding: 0 20px;
    border: 1px solid #929292;
    color: #fff;
}

.row div {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #929292;
    background-color: #e0e0e0;
    padding: 10px 0;
    width: 115px;
    height: 95px;
    font: 400 44px/72px "Arial";
}

.row div:last-child {
    background-color: #ec8d40;
    color: #fff;
}

.row div.zero {
    width: 230px;
    text-align: left;
    padding-left: 45px;
}
.row div.clear {
    width: 345px;
    float: left;
}
