.annex-2 {
  ol {
    list-style-type: none;
    margin: 0px;
  }
  .tooltip {
    margin: 20px;
  }
  fieldset, h1, h2 {
    margin: 20px;
  }
  li {
    padding: 0px 0px 20px 0px;
    margin: 0px;
  }
  li.sml {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
  }
  .submit {
    margin-left: 60px;
  }
}
