body {
  color: $main-text;
  font: 300 13px/24px 'Quicksand';
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}


@media screen and ($small) {
  body {
    line-height: 22px;
  }
}
@media screen and ($medium) {
  body {
    line-height: 21px;
  }
}
@media screen and ($large) {
  body {
    line-height: 20px;
  }
}