@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Regular/Oswald-Regular.eot'); /* IE9*/
  src: local("Oswald"),
  url('fonts/Oswald-Regular/Oswald-Regular.woff') format('woff'),
  url('fonts/Oswald-Regular/Oswald-Regular.ttf') format('truetype'),
  url('fonts/Oswald-Regular/Oswald-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Light/Oswald-Light.eot'); /* IE9*/
  src: local("Oswald"),
  url('fonts/Oswald-Light/Oswald-Light.woff') format('woff'),
  url('fonts/Oswald-Light/Oswald-Light.ttf') format('truetype'),
  url('fonts/Oswald-Light/Oswald-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Bold/Oswald-Bold.eot'); /* IE9*/
  src: local("Oswald"),
  url('fonts/Oswald-Bold/Oswald-Bold.woff') format('woff'),
  url('fonts/Oswald-Bold/Oswald-Bold.ttf') format('truetype'),
  url('fonts/Oswald-Bold/Oswald-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

//ICONS---------------------------------------------------------------

//------------------------------------------------------------------