.blog-banner {
  background-color: #000;
  img {
    width: 100%;
    opacity: 0.5;
  }
}
.blog {
  .wrapper {
    max-width: 1170px;
    position: relative;
    margin: auto;
    padding: 30px 0;
    .item {
      display: flex;
      flex-flow: column wrap;
      padding: 50px 0;
      border-bottom: 1px solid $light-text;
      &:first-child {
        padding-top: 20px;
      }
      div:first-child {
        flex-basis: 10%;
      }
      div:nth-child(2) {
        flex-basis: 90%;
        img {
          padding: 30px 0;
        }
      }
      .blog-caption {
        margin: 0;
        text-transform: uppercase;
        color: #000;
        font: 700 16px/24px "Raleway";
        &+div {
          text-transform: uppercase;
          color: #757575;
          //margin-bottom: 20px;
          font: 600 13px/24px "Proxima Nova";
        }
      }
    }
    .social-service-list {
      li {
        display: inline-block;
        &:nth-last-child(1) a {
          color: #205b9f;
        }
        &:nth-last-child(2) a {
          color: #00ace3;
        }
        &:nth-last-child(3) a {
          color: #ff3921;
        }
      }
    }
    .article-footer {
      position: relative;
      &> span {
        display: block;
        float: left;
        padding-top: 10px;
      }
    }
    .button {
      position: absolute;
      bottom: 0;
      right: 20px;
    }
  }
  figure {
    display: none;
    img:first-child {
      position: absolute;
      bottom: 0;
      right: 50px;
    }
    img:last-child {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
.container {
  text-align: center;
  .pagination {
    li {
      display: inline-block;
      padding: 5px;
      &> a {
        border: 2px solid #2a2b2c;
        color: #2a2b2c;
        background: none;
        &:hover {
          border-color: $main-color;
          background-color: white;
          color: $main-color;
        }
      }
    }
    & > li.active > a {
    border: 2px solid $main-color;
    color: $main-color;
    background: none;
      &:hover {
        background-color: white;
        border-color: $main-color;
        color: $main-color;
      }
    }
  }
}




@media screen and ($small) {
  .blog {
    .wrapper {
      .item {
        .blog-caption {
          font: 700 17px/24px "Raleway";
          &+div {
            //margin-bottom: 20px;
            font: 600 13px/24px "Proxima Nova";
          }
        }
      }
    }
  }
}

@media screen and ($medium) {
  .blog {
    .wrapper {
      figure {
        display: block;
      }
      .item {
        flex-flow: row wrap;
      }
    }
  }
}

@media screen and ($large) {
  .blog {
    .wrapper {
      .item {
        .blog-caption {
          font: 900 18px/24px "Raleway";
          &+div {
            //margin-bottom: 20px;
            font: 600 13px/24px "Proxima Nova";
          }
        }
      }
    }
  }

}
