.faq-banner {
  background-color: #000;
  img {
    width: 100%;
    opacity: 0.5;
  }
}
.faq-articles {
  padding: 2%;
  .section-caption {
    max-width: 1170px;
    margin: auto;
  }
  .faq-articles-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1170px;
    margin: auto;
    list-style-type: none;
    counter-reset: li;
    .faq-articles-column {
      display: flex;
      flex-flow: column wrap;
      .item {
        div:before {
          content: url("../img/yellow-shape.png");
          margin-left: -45px;
          position: absolute;
          z-index: -1;
        }
        h3 {
          text-transform: uppercase;
          color: #1c1c1c;
          font: 700 14px/24px 'Raleway';
          counter-increment: li;
          &:before {
            content: counter(li) "  ";
            padding-right: 20px;
            margin-left: -33px;
          }
        }
      }
    }
  }
}
.search {
  background-color: #eaeff3;
  padding-top: 30px;
  .section-caption {
    max-width: 1170px;
    margin: auto;
    position: relative;
    text-align: center;
    div {
      margin: auto;
      text-align: center;
    }
    form {
      input:first-child {
        width: 200px;
        height: 45px;
        margin: -5px ;
        border: 1px solid #e0e7ec;

      }
      input:last-child {
        width: 45px;
        height: 45px;
        background-color: #ffaf36;
        border: none;

      }
      &::after {
        content: "\f002";
        font: 16px/16px 'FontAwesome';
        position: relative;
        right: 32px;
        cursor: pointer;
      }
    }
    .button {
      margin: 50px auto;
    }
    figure {
      display: none;
      img:first-child {
        padding: 0;
        position: absolute;
        bottom: 0;
        right: 65px;
      }
      img:last-child {
        position: absolute;
        padding: 0;
        right: 15px;
        bottom: 0;
      }
    }
  }
}
@media screen and ($small) {
  .faq-articles {
    .faq-articles-list {
      .faq-articles-column {
        flex-basis: 45%;
        .item {
        }
      }
    }
  }
  .search {
    .section-caption {
      form {
        input:first-child {
          width: 350px;
        }
      }
    }
  }
}

@media screen and ($medium) {
  .search {
    .section-caption {
      form {
        input:first-child {
          width: 500px;
        }
      }
    }
  }
}

@media screen and ($large) {
  .faq-articles {
    .faq-articles-list {
      div {
        h3 {
          font-size: 16px;
        }
      }
    }
  }
  .search {
    padding-top: 70px;
    .section-caption {
      figure {
        display: block;
      }
      form {
        input:first-child {
          width: 600px;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .search {
    .section-caption {
      form {
        input:first-child {
          width: 700px;
        }
      }
    }
  }
}
