.partners {
  position: relative;
  padding: 30px 2%;
  margin: auto;
  max-width: 1170px;
  .owl-carousel {
    z-index: 1;
    .item {
      img {
        width: auto;
        border: 1px solid rgba(0,0,0,0.1);
      }
    }
    .owl-dots {
      span {
        background-color: #36a8ff;
      }
      .active span {
        background-color: $main-color;
      }
      .owl-dot {
        &:active span, &:hover span {
          background-color: $main-color;
        }
      }
    }
  }
  figure {
    display: none;
    img:first-child {
      position: absolute;
      bottom: 0;
      right: 50px;
    }
    img:last-child {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}


@media screen and ($small) {

}

@media screen and ($medium) {
  .partners  {
    .section-caption {
      padding-left: 30px;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
      position: absolute;
      text-align: left;
    }
  }
}

@media screen and ($large) {
  .partners {
    padding: 70px 2% 100px 2%;
    figure {
      display: block;
    }
  }
}
