.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg_welcome.png) 70%/250% no-repeat;
  .welcome-carousel {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 5%;
    color: #fff;
    ul {
      h2 {
        font: 700 28px/28px "Raleway";
        color: white;
        text-align: left;
        text-transform: uppercase;
        span {
          font: 600 16px/28px "Raleway";
        }
      }
      li p {
        font: italic 400 15px/20px "Lora";
      }


    }
    .owl-carousel {
      position: static;
      z-index: 0;
    }
    .owl-theme {
      .owl-nav.disabled + .owl-dots {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }
      .owl-dots {
        .active span {
          background-color: $main-color;
        }
        .owl-dot {
          &:active span, &:hover span {
            background-color: $main-color;
          }
          span {
            width: 25px;
            height: 4px;
          }
        }
      }
    }
  }
  .button {
    background-color: $main-color;
    color: #000;
    &:hover {
      border-color: white;
    }
  }
}


//ABOUT US____________________________________________________________________________
.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px 2%;
  max-width: 1170px;
  margin: auto;
  > * {
    flex-basis: 90%;
    padding: 30px 0 0 0;
  }
  p {
    margin: 0;
  }
  .button {
    margin-top: 30px;
  }
}
  //____________________________________________________________________________
  //SERVICES
.services {
  padding: 30px 2%;
  margin: auto;
  background-color: #eaeff3;
  .wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin: auto;
  }
  .service-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .service-list-item {
      flex-basis: 90%;
      img {
        filter: grayscale(100%);
      }
      &:hover img {
        filter: none;
      }
    }
  }
}
//________________________________________________________________________________
@media screen and ($small) {
  .welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg_welcome.png) 70%/180% no-repeat;
    overflow: hidden;
    .welcome-carousel {
      display: flex;
      align-items: center;
      ul {
        width: 80%;
        padding: 10px 5px;
        h2 {
          font: 400 34px/34px "Raleway";
        }
      }
    }
  }
}

@media screen and ($medium) {
  .welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg_welcome.png) 70%/180% no-repeat;
    overflow: hidden;
    .welcome-carousel {
      display: flex;
      align-items: center;
      ul {
        width: 70%;
        padding: 30px 5px;
        h2 {
          font: 700 40px/40px "Raleway";
        }
      }
    }
  }
  .about {
    padding: 30px 0 ;
    > * {
      flex-basis: 45%;
      padding: 30px 0 0 0;
    }
    .section-caption {
      flex-basis: 45%;
      text-align: left;
    }
  }
  .services {
    padding: 30px 2%;
    margin: auto;
    .section-caption {
      align-self: flex-start;
      margin-left: 50px;
    }
    .service-list {
      max-width: 1170px;
      .service-list-item {
        display: flex;
        flex-basis: 45%;
        align-items: flex-start;
        img {
          padding-top: 30px;
        }
        div {
          padding: 0 30px 30px 30px;
        }
      }
    }
    .button {
      align-self: flex-start;
      margin-left: 50px;
    }
  }
}

@media screen and ($large) {
  .welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg_welcome.png) 100%/100% no-repeat;
    .welcome-carousel {
      max-width: 1170px;
      margin: auto;
      display: flex;
      align-items: center;
      ul {
        width: 50%;
        padding: 0px 5px;
        h2 {
          font: 700 57px/60px "Raleway";
          padding-bottom: 20px;
        }
      }
    }
  }
}

