.testimonials {
  padding: 30px 2%;
  margin: auto;
  max-width: 1170px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  .owl-carousel {
    position: static;
    z-index: 1;
    margin-top: 10px;
    owl-item {
      width: 310px;
    }
  }
  .owl-theme {
    .owl-dots {
      span {
       background-color: #36a8ff;
      }
      .active span {
        background-color: $main-color;
      }
      .owl-dot {
        &:active span, &:hover span {
          background-color: $main-color;
        }
      }
    }
  }
  .item {
    padding: 30px 30px 10px 0;
    position: relative;
    > div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        width: auto;
      }
      div {
        padding-left: 40px;
        span {
          text-transform: uppercase;
          color: #000;
          font-weight: 700;
        }
      }
    }
    p:before {
      content: url("../img/quote-icon.png");
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

//________________________________________________________________________________
@media screen and ($small) {

}

@media screen and ($medium) {
  .testimonials {
    .section-caption {
      align-self: flex-start;
      margin-left: 30px;

    }
    .owl-theme {
      .owl-nav.disabled + .owl-dots {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 50px;
      }
    }
  }
}

@media screen and ($large) {

}

