//________________________________________________________________________________
.news {
  background-color: #eaeff3;
  padding: 30px 2%;

  .wrapper {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;

    .wrapper-content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

.statistic {
  display: flex;
  flex-flow: row wrap;
  img {
    width: 27px;
    padding: 0 5px 0 10px;
  }
  li {
    span {
      color: #000;
      font: 700 12px/30px "Open Sans";
    }
  }
}
.wrapper-content {
  div {
    padding-right: 10px;
    &>div {
      text-transform: uppercase;
      color: $main-color;
      margin-bottom: 20px;
    }
    .blog-caption {
      margin: 0;
      text-transform: uppercase;
      color: #000;
      font: 700 16px/24px "Raleway";
    }
  }
}

@media screen and ($small) {
  .news .wrapper {
    .statistic {
      flex-basis: 20%;
      align-self: stretch;
    }
    .wrapper-content {
      justify-content: flex-start;
    }
  }

}

@media screen and ($medium) {
  .news .wrapper {
    flex-flow: row wrap;
    .section-caption {
      flex-basis: 100%;
      padding-left: 30px;
    }
    .statistic {
      flex-flow: column wrap;
      flex-basis: 11%;
      padding-right: 20px;
      li {
        font: 400 14px/18px "Open Sans";
        padding-bottom: 10px;
        margin-bottom: 15px;
        position: relative;
        span {
          display: block;
          float: right;
          clear: left;
          font: 700 30px/30px "Open Sans";
          &:nth-child(2) {
            font: 400 14px/18px "Open Sans";
            clear: both;
          }
        }
        img {
          display: block;
          float: right;
          clear: left;
          width: 40px;
        }
        &:nth-child(1) {
          border-bottom: 1px solid $main-color;
          &:after {
            content: " ";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            width: 30px;
            background-color: #00b3ee;
            z-index: 1;
          }
        }
        &:nth-child(2) {
          border-bottom: 1px solid $main-color;
          &:after {
            content: " ";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            width: 30px;
            background-color: #00b3ee;
            z-index: 1;
          }
        }
      }
    }
    .wrapper-content {
      flex-grow: 1;
      flex-basis: 89%;
      &>div {
        flex-basis: 50%;
        &:first-child {
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media screen and ($large) {
}

