.services {
  padding: 0;
  background-color: #eaeff3;
  .wrapper {
    display: flex;
    position: relative;
    padding: 30px 2%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin: auto;
  }
  .service-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .service-list-item {
      flex-basis: 90%;
      img {
        filter: grayscale(100%);
      }
      &:hover img {
        filter: none;
      }
      h3 {
        text-transform: uppercase;
        color: #000;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
  figure {
    display: none;
    img:first-child {
      position: absolute;
      bottom: 0;
      right: 50px;
    }
    img:last-child {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

//________________________________________________________________________________
@media screen and ($small) {

}

@media screen and ($medium) {
  .services {
    margin: auto;
    .section-caption {
      align-self: flex-start;
      margin-left: 15px;
    }
    .service-list {
      max-width: 1170px;
      .service-list-item {
        display: flex;
        flex-basis: 45%;
        align-items: flex-start;
        img {
          padding-top: 30px;
        }
        div {
          padding: 0 30px 30px 30px;
        }
      }
    }
    .button {
      align-self: flex-start;
      margin-left: 50px;
    }
  }
}

@media screen and ($large) {
  .services {
    .wrapper {
      padding: 70px 2%;
      figure {
        display: block;
      }
    }
  }
}

