.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2%;
  max-width: 1170px;
  margin: auto;
  > * {
    flex-basis: 90%;
    padding: 30px 0 0 0;
  }
  p {
    margin: 0;
  }
  .button {
    margin-top: 30px;
  }
}

//________________________________________________________________________________
@media screen and ($small) {

}

@media screen and ($medium) {
  .about {
    padding: 30px 0 ;
    > * {
      flex-basis: 45%;
      padding: 30px 0 0 0;
    }
    .section-caption {
      flex-basis: 45%;
      text-align: left;
    }
  }
}

@media screen and ($large) {

}

