.news-banner {
  background-color: #000;
  img {
    width: 100%;
    opacity: 0.5;
  }
}
.news-articles {
  .section-caption {
    margin: auto;
    padding: 30px 0 20px 0;
  }
}
.news-articles-list {
  padding: 0;

  .article {
    padding: 100px 1%;
    h3 {
      margin-top: 0;
      color: #1c1c1c;
      font: 700 16px/24px Raleway;
      text-transform: uppercase;
    }
    &:first-child {
      padding-top: 0;
    }
    &:nth-child(odd) {
      background-color: white;
      .news-date {
        &::before {
          color: #fff;
        }
      }
    }
    &:nth-child(even) {
      background-color: #eaeff3;
      .news-date {
        &::before {
          color: #eaeff3;
        }
      }
    }
    .wrapper {
      max-width: 1170px;
      margin: auto;
      position: relative;
    }
    .news-article-text {
      text-align: left;
    }
    .news-content-list {
      color: #1c1c1c;
      font: 700 12px/30px 'Open Sans';
      text-transform: uppercase;
      li::before {
        content: "\f00c";
        font-family: FontAwesome;
        padding-right: 15px;
      }
    }
    .news-date {
      background-color: #ffaf36;
      height: 40px;
      padding: 0;
      color: #1c1c1c;
      font: 700 13px/40px"Open Sans";
      text-transform: uppercase;
      &::before {
        content: "\f0da";
        display: block;
        float: left;
        margin-left: -2px;
        font: 74px/40px FontAwesome;
      }
    }
    figure {
      display: none;
      img:first-child {
        position: absolute;
        bottom: -100px;
        right: 50px;
      }
      img:last-child {
        position: absolute;
        right: 0;
        bottom: -100px;
      }
    }
    .news-content-blockquote {
      background-color: #d1ebff;
      border: none;
      border-left: 4px solid #36a8ff;
      padding: 35px 30px 35px 25px;
      font: italic 400 14px/28px "Open Sans";
      color: #1c1c1c;
    }
  }
}

@media screen and ($small) {

}

@media screen and ($medium) {

}

@media screen and ($large) {
  .news-articles-list {
    .article {
      figure {
        display: block;
        img:first-child {
          bottom: -115px;
        }
        img:last-child {
          bottom: -115px;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .news-articles-list {
    .article {
      figure {
        display: block;
        img:first-child {
          bottom: -180px;
        }
        img:last-child {
          bottom: -180px;
        }
      }
    }
  }
}
