.testimonials-banner {
  background-color: #000;
  img {
    width: 100%;
    opacity: 0.5;
  }
}

.blog-content {
  .wrapper {
    max-width: 1170px;
    position: relative;
    margin: auto;
    padding: 30px 2% 0 2%;
    .item {
      display: flex;
      flex-flow: column wrap;
      padding: 20px 2% 50px 2%;
      &:first-child {
        padding-top: 20px;
      }
      div:first-child {
        flex-basis: 10%;
      }
      div:nth-child(2) {
        flex-basis: 90%;
        img {
          padding: 30px 0;
        }
        h4 {
          font: 700 16px/24px "Raleway";
          color: #1c1c1c;
          text-transform: uppercase;
        }
        blockquote {
          margin: 50px 2% 50px 100px;
          background-color: #fef1de;
          border-left-color: $main-color;
          font: italic 400 15px/28px Lora;
          color: #1c1c1c;
        }
      }
      .blog-caption {
        margin: 0;
        text-transform: uppercase;
        color: #000;
        font: 700 16px/24px "Raleway";
        & + div {
          text-transform: uppercase;
          color: #757575;
          font: 600 13px/24px "Proxima Nova";
        }
      }
    }
    .social-service-list {
      li {
        display: inline-block;
        &:nth-last-child(1) a {
          color: #205b9f;
        }
        &:nth-last-child(2) a {
          color: #00ace3;
        }
        &:nth-last-child(3) a {
          color: #ff3921;
        }
      }
    }
    .article-footer {
      position: relative;
      & > span {
        display: block;
        float: left;
        padding-top: 10px;
      }
    }
  }
}
.admin-comment {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0 70px 0;
  border-bottom: 1px solid $light-text;
  img {
    display: block;
    flex-basis: 15%;
  }
  div {
    flex-basis: 70%;
    color: #fff;
    background-color: #36a8ff;
    padding: 30px;
    margin-left: 30px;
    h5 {
      font: 700 16px/24px "Raleway";
      text-transform: uppercase;
    }
  }
}
.comment-else {
  .wrapper {
    max-width: 1170px;
    position: relative;
    margin: auto;
    padding: 50px 2% 0 2%;
    blockquote {
      border: none;
    }
  }
}
.comment-block-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $light-text;
  img {
    flex-basis: 7%;
  }
  div {
    flex-basis: 85%;
    padding: 40px;
    a {
      content: url("../img/2-layers.png");
    }
    h4 {
      text-transform: uppercase;
      font: 700 13px/24px "Proxima Nova";
      color: #000;
      span {
        color: $main-color;
      }
    }
  }
}

.co-comment-block-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  border: none;
  img {
    flex-basis: 7%;
  }
  div {
    flex-basis: 85%;
    padding: 40px;
    a {
     content: url("../img/2-layers.png");
    }
    h4 {
      text-transform: uppercase;
      font: 700 13px/24px "Proxima Nova";
      color: #000;
      span {
        color: $main-color;
      }
    }
  }
}
.comment-form {
  background-color: #eaeff3;
  .wrapper {
    position: relative;
    max-width: 1170px;
    margin: auto;
    padding: 50px 2% 70px 2%;
    figure {
      display: none;
      img:first-child {
        position: absolute;
        bottom: 0;
        right: 50px;
      }
      img:last-child {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  form {
    li {
      width: 100%;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      color: $dark-text;
      label {
        font: 700 14px/50px "Open Sans";
        text-transform: uppercase;
        span {
          color: $main-color;
        }
      }
      input {
        width: 80%;
        border: none;
        background-color: #eaeff3;
        color: black;
        font: 700 14px/50px "Open Sans";
        &:focus {
          outline: none;
        }
      }
      textarea {
        width: 80%;
        color: black;
        border: none;
        resize: none;
        background-color: #eaeff3;
        font: 700 14px/50px "Open Sans";
        &:focus {
          outline: none;
        }
      }
      &:nth-child(3) {
        display: flex;
        border-top: none;
        align-items: flex-start;
      }
      &:nth-child(2) {
        border-top: none;
      }
    }
  }
  .submit {
    padding: 10px 15px;
    background: none;
    color: $main-color;
    border: 2px solid $main-color;
    &:hover {
      background-color: $main-color;
      color: #000;
    }
  }
}


@media screen and ($small) {
  .blog-content {
    .wrapper {
      .item {
        .blog-caption {
          font: 700 17px/24px "Raleway";
          &+div {
            font: 600 13px/24px "Proxima Nova";
          }
        }
      }
    }
  }
}

@media screen and ($medium) {
  .comment-form {
    .wrapper {
      figure {
        display: block;
      }
    }
  }
}

@media screen and ($large) {
  .blog-content {
    .wrapper {
      .item {
        .blog-caption {
          font: 900 18px/24px "Raleway";
          &+div {
            font: 600 13px/24px "Proxima Nova";
          }
        }
      }
    }
  }
}
