section.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg_welcome.png) 70%/250% no-repeat;
  .welcome-carousel {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 5%;
    color: #fff;
    ul {
      h2 {
        font: 700 28px/28px "Raleway";
        color: white;
        text-align: left;
        text-transform: uppercase;
        span {
          font: 600 16px/28px "Raleway";
        }
      }
      li p {
        font: italic 400 15px/20px "Lora";
      }

      .button {
        background-color: $main-color;
        color: #000;
      }
    }
  }
}
.owl-carousel {
  position: static;
  z-index: 0;
}
.owl-theme {
  .owl-nav.disabled + .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .owl-dots .owl-dot {
    span {
      width: 25px;
      height: 4px;
      background-color: #8f8f8f;
    }
    &:active span, &:hover span {
      background-color: $main-color;
    }
  }
}


@media screen and ($small) {
  section.welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg_welcome.png) 70%/180% no-repeat;
    overflow: hidden;
    .welcome-carousel {
      display: flex;
      align-items: center;
      ul {
        width: 80%;
        padding: 10px 5px;
        h2 {
          font: 400 26px/34px "Open Sans";
        }
      }
    }
  }
}

@media screen and ($medium) {
  section.welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg_welcome.png) 70%/180% no-repeat;
    overflow: hidden;
    .welcome-carousel {
      display: flex;
      align-items: center;
      ul {
        width: 70%;
        padding: 100px 5px;
        h2 {
          font: 700 30px/40px "Open Sans";
        }
      }
    }
  }
}

@media screen and ($large) {
  section.welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg_welcome.png) 100%/100% no-repeat;
    .welcome-carousel {
      max-width: 1170px;
      margin: auto;
      display: flex;
      align-items: center;
      ul {
        width: 50%;
        padding: 100px 5px;
        h2 {
          font: 700 33px/45px "Open Sans";
          padding-bottom: 20px;
        }
      }
    }
  }
}

