.about {
  padding: 20px 0 50px 0;
  .container-about {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item-about {
      flex-basis: 90%;
    }
    h3 {
      margin-top: 0;
      padding: 20px 0;
      color: $dark-text;
      font: 700 17px/20px "Open Sans";
      text-transform: uppercase;
      &::after {
        content: " ";
        display: block;
        width: 100px;
        margin-top: 10px;
        height: 2px;
        background-color: $main-color;
      }
    }
    p {
      padding: 10px 0;
    }
  }
}

@media screen and ($large) {
  .about .container-about {
    align-items: flex-end;

    .item-about {
      flex-basis: 47%;
      padding: 0 15px;
    }
  }
}

