.last {
  background: url(../img/last.jpg) no-repeat center center;
  a {
    display: block;
    width: 180px;
    margin: 10% auto 10% auto;
    padding: 8px 0;
    background: #17daa3;
    border-radius: 50px;
    text-align: center;
    color: #fff;
  }
  h2 {
    font-size: 30px;
    margin: 20% 0 20% 0;
    padding: 20% 0 20% 0;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    color: white;
  }
}


