.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #f4f4f4;
  ul {
    padding: 5px;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 200px;
      max-width: 370px;
      margin: 4px;

      .project-image {
        max-width: 370px;
        height: 221px;
        text-align: center;
      }
      &:hover .hover-container {
        display: block;
      }

      .portfolio-projects-footer {
        background-color: white;
        font: 700 14px/30px "Open Sans";
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          display: block;
          padding: 10px;
        }
      }
    }
  }
  .hover-container {
    display: none;
    position: relative;
    top: -222px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 222px;
    background-color: rgba(0, 0, 0, 0.7);
    .container-button {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and ($medium) {
  .portfolio {
    ul li {
      width: 370px;
    }
    .portfolio-projects-footer {
      font: 700 14px/45px "Open Sans";
    }
    .project-image {
      height: 392px;
    }
    .hover-container {
      position: relative;
      top: -392px;
      height: 392px;
    }
  }
}

@media screen and ($large) {
  .portfolio {
    ul {
      max-width: 1170px;
    }
    .portfolio-projects-footer {
      font: 700 14px/60px "Open Sans";
    }
  }
}

