.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #f4f4f4;
  ul {
    padding: 5px;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 200px;
      max-width: 370px;
      margin: 4px;

      .project-image {
        max-width: 370px;
        height: auto;
        text-align: center;
      }
      .portfolio-projects-footer {
        background-color: white;
        font: 700 14px/60px "Open Sans";
        //vertical-align: middle;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          display: block;
          padding: 10px;
        }
      }
    }
  }
}
@media screen and ($medium) {
  .portfolio {
    ul li {
      width: 370px;
    }
  }
}

@media screen and ($large) {
  .portfolio {
    ul {
      max-width: 1170px;
    }
  }
}
