section.welcome {
  background: url(../img/bg_wellcome.png) top no-repeat;
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 5px;
    .item {
      h2 {
        font: 400 24px/28px "Open Sans";
        color: white;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and ($small) {
  section.welcome {
    background: url(../img/bg_wellcome.png) top no-repeat;
    overflow: hidden;
    .container {
      display: flex;
      align-items: center;
      .item {
        width: 80%;
        padding: 10px 5px;
        h2 {
          font: 400 26px/34px "Open Sans";
        }
      }
    }
  }
}

@media screen and ($medium) {
  section.welcome {
    background: url(../img/bg_wellcome.png) top no-repeat;
    overflow: hidden;
    .container {
      display: flex;
      align-items: center;
      .item {
        width: 70%;
        padding: 100px 5px;
        h2 {
          font: 700 30px/40px "Open Sans";
        }
      }
    }
  }
}

@media screen and ($large) {
  section.welcome {
    background: url(../img/bg_wellcome.png) top no-repeat;
    .container {
      max-width: 1170px;
      display: flex;
      align-items: center;
      .item {
        width: 50%;
        padding: 100px 5px;
        h2 {
          font: 700 33px/45px "Open Sans";
        }
      }
    }
  }
}