section.welcome {
  background: url(../img/bg_wellcome.png) top no-repeat;
  overflow: hidden;
  .container {
    display: flex;
    height: 50vh;
    align-items: center;
    .item {
      height: 50%;
      h2 {
        font: 400 26px/28px "Open Sans";
        color: white;
        text-align: center;
      }
    }
  }
}

@media screen and ($small) {
  section.welcome {
    background: url(../img/bg_wellcome.png) top no-repeat;
    overflow: hidden;
    .container {
      display: flex;
      align-items: center;
      .item {
        height: 50%;
        font: 700 28px/34px "Open Sans";
      }
    }
  }
}

@media screen and ($medium) {
  section.welcome {
    background: url(../img/bg_wellcome.png) top no-repeat;
    overflow: hidden;
    .container {
      display: flex;
      align-items: center;
      .item {
        height: 50%;
        font: 700 30px/40px "Open Sans";
      }
    }
  }
}


@media screen and ($large) {
  section.welcome {
    background: url(../img/bg_wellcome.png) top no-repeat;
    overflow: hidden;
    .container {
      display: flex;
      align-items: center;
      .item {
        height: 50%;
        font: 700 33px/45px "Open Sans";
      }
    }
  }
}