@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica/HelveticaNeue-BoldCond.eot"); /* IE9*/
  src: local('Helvetica'),
  url("../fonts/Helvetica/HelveticaNeue-BoldCond.eot") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Helvetica/HelveticaNeue-BoldCond.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Helvetica/HelveticaNeue-BoldCond.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Helvetica/HelveticaNeue-BoldCond.svg") format("svg"); /* iOS 4.1- */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica/HelveticaNeue-Light.eot"); /* IE9*/
  src: local('Helvetica'),
  url("../fonts/Helvetica/HelveticaNeue-Light.eot") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Helvetica/HelveticaNeue-Light.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Helvetica/HelveticaNeue-Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Helvetica/HelveticaNeue-Light.svg") format("svg"); /* iOS 4.1- */
  font-weight: 300;
  font-style: normal;
}

//ICONS---------------------------------------------------------------

//---------------------------------------------------------------------------