$xs: "min-width: 568px";
$sm: "min-width: 768px";
$md: "min-width: 992px";
$lg: "min-width: 1200px";
$wrapper: 1170px;
$main-color: #d11f2d;
$sec-color: #222222;
$main-text-color: #fff;
$sec-text-color: #222222;
$main-font: "Open Sans";
$sec-font: "Montserrat";
