.header {
  max-height: 110px;
  padding: 0;
  color: $main-text-color;
  &.active {
    background-color: rgba(243, 243, 243, 0.9);
  }
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}
