.header {
  max-height: 80px;
  padding: 0;
  color: $main-text-color;
  &.active {
    background-color: rgba(0, 0, 0, 0.4);
  }
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  .container {
    padding: 0;
  }
}

@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}
