$xs: "min-width: 568px";
$sm: "min-width: 768px";
$md: "min-width: 992px";
$lg: "min-width: 1200px";
$wrapper: 1400px;
$main-color: #ffd500;
$sec-color: #222222;
$brand-color: #ffd500;
$main-text-color: #222222;
$sec-text-color: #a5a4a4;
$main-font: 'Arial';
$sec-font:  'Oswald';

//icons---------------------------------------


//-----------------------------------------------