footer {
  background-color: dimgrey;
  color: $text-sec-color;
  p {
    color: $text-sec-color;
  }
}
@media screen and ($xs) {
  footer {

  }
}
@media screen and ($sm) {
  footer {


  }
}

@media screen and ($md) {
  footer {

  }
}


@media screen and ($lg) {
  footer {

  }
}