.main_head {
  min-height: 620px;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 20px;
}
.logo_container {
  float: left;
  overflow: hidden;
}

svg {
  height: 60px;
  width: 60px;
  position: relative;
  z-index: 5;
  path {
    fill: $main-color;
  }
}

@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}
