.main_head {
  min-height: 620px;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 20px;
}

@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}
