body {
  color: $light-text;
  font: 400 17px/24px "Open Sans";
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

div.section-caption {
  flex-basis: 90%;
  text-align: center;
  h2 {
    margin: auto;
    padding: 0;
    border: 0;
    text-transform: uppercase;
    color: $dark-text;
    font: 700 20px/28px "Open Sans";
  }
  p {
    margin: auto;
    padding: 10px 0 20px 0;
    font: 400 17px/20px "Open Sans";
  }
}

@media screen and ($small) {
  body {
    font: 400 16px/22px "Open Sans";
  }
  div.section-caption {
    flex-basis: 85%;
    h2 {
      padding: 0;
      font: 700 20px/32px "Open Sans";
    }
    p {
      padding: 10px 0 20px 0;
      font: 400 16px/20px "Open Sans";
    }
  }
}
@media screen and ($medium) {
  body {
    font: 400 15px/21px "Open Sans";
  }
  div.section-caption {
    flex-basis: 75%;
    h2 {
      padding: 0;
      font: 700 22px/38px "Open Sans";
    }
    p {
      padding: 10px 0 20px 0;
      font: 400 15px/20px "Open Sans";
    }
  }
}
@media screen and ($large) {
  body {
    font: 400 14px/20px "Open Sans";
  }
  div.section-caption {
    flex-basis: 485px;
    h2 {
      padding: 0;
      font: 700 20px/45px "Open Sans";
    }
    p {
      padding: 10px 0 20px 0;
      font: 400 14px/20px "Open Sans";
    }
  }
}