.approch {
  padding: 10px 1% 50px 1%;
  background-color: $sec-color;
  .container {
    text-align: center;
  }
}

//________________________________________________________________________________
@media screen and ($xs) {
  .about-us {
  }
}

@media screen and ($sm) {
  .about-us {
  }
}

@media screen and ($md) {
  .about-us {
  }
}

@media screen and ($lg) {
  .about-us {
  }
}

