.approch {
  padding: 10px 1% 50px 1%;
  background-color: $sec-color;
  .container {

    li {
      display: flex;
      position: relative;
      align-items: center;
      flex-flow: row wrap;
      margin: 20px;
      background-color: white;
      &:nth-child(odd) {
        text-align: left;
        flex-direction: row;
        .sticker {
          left: 300px;
        }
      }
      &:nth-child(even) {
        text-align: right;
        flex-direction: row-reverse;
        .sticker {
          right: 300px;
        }
      }
      p {
        max-width: 520px;
      }
    }
  }
  .sticker {
    position: absolute;
    width: 100px;
    height: 100px;
    background: $main-color;
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font: 700 60px/64px 'Georgia';
    span {
      display: block;
      font: 600 20px/22px 'Helvetica';
    }
  }
  .approch-text {
    padding: 0 100px;
    h4 {
      font: 400 18px/26px "Helvetica Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
  }
}

//________________________________________________________________________________
@media screen and ($xs) {
  .about-us {
  }
}

@media screen and ($sm) {
  .about-us {
  }
}

@media screen and ($md) {
  .about-us {
  }
}

@media screen and ($lg) {
  .about-us {
  }
}

