.approch {
  padding: 10px 1% 50px 1%;
  background-color: $sec-color;
  .container {

    li {
      display: flex;
      position: relative;
      align-items: center;
      flex-flow: row wrap;
      margin: 15px;
      background-color: white;
      &:after {
        content: ' ';
        display: block;
        clear: both;
      }

      &:nth-child(odd) {
        text-align: left;
        justify-content: flex-start;
        flex-direction: row;
      }
      &:nth-child(even) {
        text-align: right;
        justify-content: flex-end;
        flex-direction: row-reverse;
      }
      p {
        max-width: 520px;
      }
    }
  }
}

//________________________________________________________________________________
@media screen and ($xs) {
  .about-us {
  }
}

@media screen and ($sm) {
  .about-us {
  }
}

@media screen and ($md) {
  .about-us {
  }
}

@media screen and ($lg) {
  .about-us {
  }
}

