@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova Regular.eot');
  src: local('Proxima Nova'), url('../fonts/Proxima Nova Regular.woff') format('woff'), url('../fonts/Proxima Nova Regular.ttf') format('truetype'), url('../fonts/Proxima Nova Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova Bold.eot');
  src: local('Proxima Nova'), url('../fonts/Proxima Nova Bold.woff') format('woff'), url('../fonts/Proxima Nova Bold.ttf') format('truetype'), url('../fonts/Proxima Nova Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}


