.site-content {
  background-color: #fff8d8;
  .container:not(.site-info) {
    background-color: #fff;
    padding: 30px;
    border: 2px solid grey;
    h1 {
      text-align: center;
    }
  }

  .order_item {
    display: inline-block;
    padding: 0;
  }
  .order {
    padding: 10px;
    border: none;
  }
  .order_list {
    width: 300px;
    margin: auto;
    a {
      display: block;
      border: 1px solid grey;
      background-color: lightgrey;
      text-align: center;
      text-decoration: none;
      &:hover {
        outline: 1px solid green;
        color: green;
      }
    }
  }
  .text_align_center {
    text-align: center;
  }
  .author {
    text-align: center;
    color: red;
  }
}
//________________________________________________________________________________
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}

