@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova Semibold.eot');
  src: local('Proxima Nova'), url('../fonts/Proxima Nova Semibold.woff') format('woff'), url('../fonts/Proxima Nova Semibold.ttf') format('truetype'), url('../fonts/Proxima Nova Semibold.svg') format('svg');
  font-weight:  600;
  font-style: normal;
}
