.hero {
  display: flex;
  margin: auto;
  padding: 100px 1%;
  flex-flow: row wrap;
  .hero-item {

  }
  a {
    background-color: $main-color;
    padding: 10px 30px;
    border-radius: 9px;
    border: 3px solid #ff5959;
    color: #fff;
  }
}

//________________________________________________________________________________
@media screen and ($small) {

}

@media screen and ($medium) {


}

@media screen and ($large) {

}

