@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica_Neue/Helvetica Neue.eot"); /* IE9*/
  src: local('Helvetica Neue'),
  url("../fonts/Helvetica_Neue/Helvetica Neue.eot") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Helvetica_Neue/Helvetica Neue.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Helvetica_Neue/Helvetica Neue.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Helvetica_Neue/Helvetica Neue.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Helvetica_Neue/Helvetica Neue.svg") format("svg"); /* iOS 4.1- */
  font-weight:  700;
  font-style: normal;
}