.services {
  padding: 50px 1% 150px 1%;
  background-color: $sec-color;

  .section-caption {
    h2 {
      background-color: $sec-color;

      &::after {
        background-color: $sec-color;
      }
    }
  }
  .container {
    margin-top: 40px;
    li {
      padding: 15px;
      text-align: center;
      h3 {
        font: 400 24px/32px 'Quicksand';
      }
      p {
        font: 400 13px/18px 'Quicksand';
      }
    }
  }
}

//________________________________________________________________________________
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}

