.contacts {
  padding: 50px 1% 150px 1%;
  background-color: $sec-color;

  .section-caption {
    h2 {
      background-color: $sec-color;
      &::after {
        background-color: $sec-color;
      }
    }
  }
  .container {
    margin-top: 40px;

    form {
      font: 300 13px/16px 'Quicksand';
      color: $main-text-color;
      * {
        width: 90%;
        resize: none;
        margin: 15px auto;
        padding: 15px;
        border-radius: 9px;
        border: none;
      }
    }
    div {
      padding: 15px;
      h4 {
        font: 400 24px/32px 'Quicksand';
      }
      p {
        font: 300 13px/18px 'Quicksand';
      }
      div {
        font: 300 14px/18px 'Quicksand';
      }
    }
  }
}

//________________________________________________________________________________
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {

}

