.portfolio {
  padding: 50px 1% 150px 1%;
  background-color: $main-color;
  .section-caption {
    h2 {
      background-color: $main-color;
      color: $sec-text-color;
      border-bottom: 1px solid white;
      &::after {
        content: url("../img/dot-white.png");
        background-color: $main-color;
      }
    }
  }
  .container {
    margin-top: 40px;
    li {
      position: relative;
      padding: 15px;
      text-align: center;
      div {
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
          color: $sec-text-color;
          font: 700 16px/20px 'Quicksand';
        }
      }
      &:hover {
        img {
          opacity: 0.5;
        }

        div {
          display: block;
        }
      }
    }
    .hover-button1 {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      display: inline-block;
      border-radius: 10px;
      background-color: $main-color;
      color: $sec-text-color;
      font-size: 13px;
      line-height: 30px;
    }
    .hover-button2 {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      display: inline-block;
      border-radius: 10px;
      background-color: $main-color;
      color: $sec-text-color;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

//________________________________________________________________________________
@media screen and ($xs) {
  .portfolio .container {
    .hover-button2, .hover-button2 {
      margin: 5px;
    }
    li div p {
      font: 700 18px/22px 'Quicksand';
    }
  }
}

@media screen and ($sm) {
  .portfolio .container {
    .hover-button2, .hover-button2 {
      margin: 10px;
    }
    li div p {
      font: 700 20px/24px 'Quicksand';
    }
  }
}

@media screen and ($md) {
  .portfolio .container {
    .hover-button2, .hover-button2 {
      margin: 10px 15px;
    }
    li div p {
      font: 700 22px/25px 'Quicksand';
    }
  }
}

@media screen and ($lg) {
  .portfolio .container {
    .hover-button2, .hover-button2 {
      margin: 15px 20px;
    }
    li div p {
      font: 700 24px/26px 'Quicksand';
    }
  }
}

